<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--配置bean-->
    <bean id="helloWorld" class="org.AHHN.com.HelloWorld">
        <property name="name" value="水火世界"/>
    </bean>

    <!--通过构造方法配置bean-->
    <bean id="car" class="org.AHHN.com.Car">
        <constructor-arg index="2" value="180000"/>
        <constructor-arg index="0" value="奥迪"/>
        <constructor-arg index="1" value="大众"/>
        <constructor-arg index="3" value="190"/>
    </bean>
    
    <bean id="car2" class="org.AHHN.com.Car">
        <constructor-arg index="0" value="奥迪" type="java.lang.String"/>
        <constructor-arg index="1" value="大众" type="java.lang.String"/>
        <constructor-arg index="2" type="int">
            <value>260</value>
        </constructor-arg>
    </bean>
</beans>